{
	"rules": {
		"indent": [
			"error",
			"tab"
		],
		"quotes": [
			"warn",
			"single"
		],
		"comma-dangle": [
			"error",
			"never"
		],
		"semi": "error"
	},
	"overrides": [
		{
			"files": [
				"*.vue"
			],
			"rules": {
				"indent": "off",
				"vue/script-indent": [
					"error",
					"tab",
					{
						"baseIndent": 1
					}
				]
			}
		}
	],
	"root": true,
	"env": {
		"browser": true
	},
	"extends": [
		"plugin:vue/essential"
	],
	"parserOptions": {
		"parser": "babel-eslint"
	},
	"plugins": [
		"vue"
	]
}
